body {
    background: black;
    padding: 3px;
}

.row {
    margin-bottom: 10px;
}

.pad {
    background-color: black;
}
  
.full {
    width: 100%; 
    margin-top: 3px;
    margin-bottom: 3px;
}

.btn-short {
    width: 82px;
    height: 100px;
    margin-right: 5px;
}

.icon-orange-folder {
  background-image : url(/air-mack/images/orange-folder.png);
  background-size: cover;
  display: inline-block;
  height: 48px;
  width: 48px;
}

.icon-terminal {
  background-image : url(/air-mack/images/terminal.png);
  background-size: cover;
  display: inline-block;
  height: 48px;
  width: 48px;
}

.icon-paste {
  background-image : url(/air-mack/images/paste.png);
  background-size: cover;
  display: inline-block;
  height: 48px;
  width: 48px;
}

/* ---------------------------------------------------------------------------------------------------- */
#jogdial {
    width: 260px;
    height: 260px;
    margin: 20px auto;
    background: url('/air-mack/scripts/jogdial/base_one_bg.png');
    background-repeat: no-repeat;
}

#jogdial_knob {
    width: 70px;
    height: 70px;
    background: url('/air-mack/scripts/jogdial/base_one_knob.png');
    background-repeat: no-repeat;
}